
@media screen and (max-width: 480px) {
  #app {
    padding: 0;
  }

  h1 {
    font-size: 24px;
  }

  .github-corner > svg {
    width: 20px;
    height: 20px;
  }

  .plus-minus-input-numbur input[type="number"] {
    width: 70px;
  }

  #setting .item-list-wrapper, #setting  .item-list {
    column-gap: 2px;
  }

  .config-area {
    margin-left: 24px;
  }

  #setting {
    max-width: none;
  }

  #input-text {
    width: calc(100% - 24px * 2);
    margin: 0 auto;
  }

  #input-file {
    margin-left: 24px;
  }

  .item .input {
    width: calc(100% - 200px); /* .nameのwidthを引いている */
  }

  .action-btn-list {
    width: fit-content;
    margin: 0 auto;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  .item .radio {
    padding: 4px;
  }

  .config-area {
    padding: 0;
  }

  #input-text {
    width: 100%;
  }
}
