
@media screen and (max-width: 480px) {
  #app {
    padding: 0;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  .github-corner > svg {
    display: none;
  }

  #config-area1 {
    display: flex;
    justify-content: space-between;
  }

  .plus-minus-input-numbur input[type="number"] {
    width: 70px;
  }

  #setting .input-check-area {
    justify-content: center;

    .btn {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .config-area {
    padding: 0 24px;
  }

  #setting {
    max-width: none;
  }

  .item {
    width: fit-content;
    margin: 0 auto;
  }
  
  #input-text {
    width: calc(100% - 24px * 2);
    margin: 0 auto;
  }

  .input-file {
    margin-left: 24px;
  }

  .file-name {
    width: auto;
    margin-left: 8px;
  }

  .action-btn-list {
    justify-content: space-evenly;
    column-gap: 0;
  }
}

/* Galaxy S8+ */
@media screen and (max-width: 360px) {
  #setting .input-check-area .radio {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media screen and (max-width: 350px) {
  #setting .input-check-area {
    font-size: 0.88em;
  }
}

@media screen and (max-width: 320px) {
  #setting .input-check-area {
    column-gap: 4px;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 300px) {
  .item .radio {
    padding: 4px;
  }

  .config-area {
    padding: 0;
  }

  .item .input {
    width: calc(100% - var(--item-name-width));
    margin-left: 0;
  }

  #input-text {
    width: 100%;
  }

  .input-file {
    margin-left: 0;
  }

  .file-name {
    width: 200px;
  }

  .plus-minus-input-numbur input[type="number"] {
    width: 60px;
  }

  #setting .input-check-area {
    justify-content: space-evenly;
    column-gap: 2px;

    .btn, .radio {
      padding-left: 1px !important;
      padding-right: 1px !important;
    }
  }
}
