
@media screen and (max-width: 480px) {
  #app {
    padding: 0;
  }

  .github-corner > svg {
    width: 50px;
    height: 50px;
  }

  .plus-minus-input-numbur input[type="number"] {
    width: 60px;
  }

  #detail-config-title {
    width: 100%;
    justify-content: space-between;
  }
}
