
[v-cloak] {
  display: none !important;
}

:root {
  --item-name-width: 140px;
  --item-input-width: 190px;
  --copy-btn-width: 69px;
}

body {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  background-color: #f4f4f4;
  touch-action: manipulation;
}

img {
  touch-action: auto;
}

body:not(h1) {
  font-size: 18px;
}

button, input, select, textarea {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 18px;
}

.font-default {
  font-family: 'ＭＳ Ｐゴシック', '游ゴシック', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Verdana, Roboto, 'Droid Sans', sans-serif;
}

.font-sans {
  font-family: 'Noto Sans JP', sans-serif;
}

.font-serif {
  font-family: 'Noto Serif JP', serif;
}

.bold {
  font-weight: 700;
}

#app {
  padding: 0 32px;
}

#setting {
  display: flex;
  margin: 16px 0;
  flex-direction: column;
  row-gap: 16px;
}

.input-check-area {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}

.item-list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.item .name {
  width: var(--item-name-width);
  text-align: center;

  .hosoku {
    font-size: 0.7em;
  }
}

.item .input {
  display: flex;
  width: var(--item-input-width);
  justify-content: center;
}

.radio-wrapper {
  display: inline-block;
  white-space: nowrap;
}

.radio {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 4px 8px;
  border: 1px solid mediumblue;
  border-right-width: 0;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: mediumblue;
  background-color: white;
  text-align: center;
}

.radio:first-of-type {
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.radio:last-of-type {
  padding-right: 10px;

  border-right-width: 1px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid mediumblue;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: mediumblue;
  background-color: white;
  text-align: center;
}

.btn.selected, .radio.selected {
  color: white;
  border-color: mediumblue;
  background-color: mediumblue;
}

@media (any-hover: hover) {
  .btn, .radio:not(.selected) {
    transition: background-color 0.2s;
  }
  
  .btn:hover, .radio:not(.selected):hover {
    background-color: lightcyan;
  }

  .btn.selected {
    transition: background-color 0.2s, opacity 0.2s;
  }
  
  .btn.selected:hover {
    background-color: mediumblue;
    opacity: 0.7;
  }
}

#reset-btn {
  margin-left: 32px;
  border: 1px solid #ff5733;
  color: #ff5733;
  background-color: white;
}

@media (any-hover: hover) {
  #reset-btn {
    transition: background-color 0.2s;
  }
  
  #reset-btn:hover {
    background-color: #f7ff7f;
  }
}

select {
  height: 34px;
  box-sizing: border-box;
}

input {
  height: 34px;
  border: 2px solid #ccc;

  border-radius: 0;

  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #007bff;
  }
}

input[type="file"] {
  display: none;
}

.plus-minus-input-numbur {
  display: flex;
  height: 34px;
  align-items: center;
  flex-wrap: nowrap;

  input[type="number"] {
    width: 60px;

    border-left-width: 0;
    border-right-width: 0;

    text-align: center;

    -moz-appearance: textfield;
    appearance: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.plus-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  line-height: calc(34px - 2px * 2);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 2px solid #ccc;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: black;
  background-color: #cfc;
  text-align: center;

  &:hover {
    background-color: #95ff95;
  }
}

.minus-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  line-height: calc(34px - 2px * 2);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 2px solid #ccc;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: black;
  background-color: #fcc;
  text-align: center;

  &:hover {
    background-color: #ff9595;
  }
}

#input-text {
  width: calc(var(--item-name-width) + var(--item-input-width) + 60px);
}

.action-btn-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

.action-btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid green;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: green;
  background-color: white;
  text-align: center;
}

@media (any-hover: hover) {
  .action-btn {
    transition: background-color 0.2s;
  }
  
  .action-btn:hover {
    background-color: palegreen;
  }
}

#generate-btn {
  padding: 0 8px;
}

#copy-btn-wrapper {
  position: relative;
  width: var(--copy-btn-width);
}

#copy-btn {
  position: absolute;
  width: var(--copy-btn-width);
  height: 36px;
}

.download-icon {
  width: 24px;
  height: 100%;
  background-image: url(./download_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#download-text-btn {
  height: 36px;
  padding: 0 8px;
  > div {
    display: inline-flex;
    height: 36px;
    column-gap: 2px;
    align-items: center;
  }
}

#download-image-btn {
  height: 36px;
  padding: 0 8px;
  > div {
    display: inline-flex;
    height: 36px;
    column-gap: 2px;
    align-items: center;
  }
}

#copy-message {
  position: absolute;
  visibility: hidden;
}

.display-copy-message {
  position: absolute;
  visibility: visible !important;
  width: 100px;
  height: 40px;
  top: 45px;
  left: calc(-1 * (100px - var(--copy-btn-width)) / 2);
  font-size: 1.2rem;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: black;
  animation: fade-out 2s ease-in forwards;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.display-copy-message::before {
  position: absolute;
  left: calc((100px - 40px) / 2);
  top: -35px;
  border: 20px solid transparent;
  border-bottom: 20px solid black;
  content: "";
}

.not-exists-tuki-art {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;

  canvas {
    width: 0;
    height: 0;
  }
}

.yoko-canvas {
  display: block;
}

.tate-canvas {
  display: inline-block;
  vertical-align: top;
}

