
[v-cloak] {
  display: none !important;
}

body {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  background-color: #f4f4f4;
}

body:not(h1) {
  font-size: 18px;
}

button, input, select, textarea {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 18px;
}

.font-default {
  font-family: 'ＭＳ Ｐゴシック', '游ゴシック', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Verdana, Roboto, 'Droid Sans', sans-serif;
}

.font-sans {
  font-family: 'Noto Sans JP', sans-serif;
}

.font-serif {
  font-family: 'Noto Serif JP', serif;
}

.bold {
  font-weight: 700;
}

#app {
  padding: 0 32px;
}

#setting {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
}

.item {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 4px;
}

.item .name {
  display: flex;
  align-items: center;
}

.item.wrap {
  flex-wrap: wrap;
}

.radio-wrapper {
  display: inline-block;
  white-space: nowrap;
}

.radio {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border: 1px solid mediumblue;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: mediumblue;
  background-color: white;
  text-align: center;
}

.radio:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.radio:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid mediumblue;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: mediumblue;
  background-color: white;
  text-align: center;
}

.btn.selected, .radio.selected {
  color: white;
  border-color: mediumblue;
  background-color: mediumblue;
}

@media (any-hover: hover) {
  .btn, .radio:not(.selected) {
    transition: background-color 0.2s;
  }
  
  .btn:hover, .radio:not(.selected):hover {
    background-color: lightcyan;
  }

  .btn.selected {
    transition: background-color 0.2s, opacity 0.2s;
  }
  
  .btn.selected:hover {
    background-color: mediumblue;
    opacity: 0.7;
  }
}

input[type="file"] {
  display: none;
}

input[type="number"] {
  width: 60px;
}

#input-text {
  width: 300px;
}

.action-btn-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
}

.action-btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid green;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: green;
  background-color: white;
  text-align: center;
}

@media (any-hover: hover) {
  .action-btn {
    transition: background-color 0.2s;
  }
  
  .action-btn:hover {
    background-color: palegreen;
  }
}

#generate-btn {
  padding: 0 8px;
}

#copy-btn-wrapper {
  position: relative;
  width: 69px;
}

#copy-btn {
  position: absolute;
  width: 69px;
  height: 36px;
}

.download-icon {
  width: 24px;
  height: 100%;
  background-image: url(./download_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#download-text-btn {
  height: 36px;
  padding: 0 8px;
  > div {
    display: inline-flex;
    height: 36px;
    column-gap: 2px;
    align-items: center;
  }
}

#download-image-btn {
  height: 36px;
  padding: 0 8px;
  > div {
    display: inline-flex;
    height: 36px;
    column-gap: 2px;
    align-items: center;
  }
}

#copy-message {
  position: absolute;
  visibility: hidden;
}

.display-copy-message {
  position: absolute;
  visibility: visible !important;
  width: 100px;
  height: 40px;
  top: 45px;
  left: calc(-1 * (100px - 69px) / 2); /* 引く数は#copy-btn-wrapper.width */
  font-size: 1.2rem;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: black;
  animation: fade-out 2s ease-in forwards;
  user-select: none;
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.display-copy-message::before {
  position: absolute;
  left: calc((100px - 40px) / 2);
  top: -35px;
  border: 20px solid transparent;
  border-bottom: 20px solid black;
  content: "";
}

.caret-down-icon {
  width: 24px;
  height: 100%;
  background-image: url(./caret_down_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.caret-up-icon {
  width: 24px;
  height: 100%;
  background-image: url(./caret_up_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#detail-config-title {
  font-weight: bold;
  display: inline-flex;
  height: 36px;
  column-gap: 2px;
  align-items: center;
  cursor: pointer;
}

.not-exists-tuki-art {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;

  canvas {
    width: 0;
    height: 0;
  }
}

.yoko-canvas {
  display: block;
}

.tate-canvas {
  display: inline-block;
  vertical-align: top;
}

