<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>月文字ジェネレーター（JS版）</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <span id="calc-width" ref="calcWidth"></span>
    <h1>月文字ジェネレーター（JS版）</h1>
    <div>
      <div class="btn-mode" :class="{'selected': mode === 'text'}" @click="onClickTextModeButton">文字</div>
      <div class="btn-mode" :class="{'selected': mode === 'image'}" @click="onClickImageModeButton">画像</div>
    </div>
    <template v-if="mode === 'text'">
      変換したい文
      <input type="text" v-model="text">
      <div>
        フォントサイズ
        <input type="number"
               :min="fontSizeMin"
               :max="fontSizeMax"
               v-model="fontSize"
               @blur="onBlurFontSizeNumber">
      </div>
      <div>
        太字？
        <input type="checkbox" style="margin-right: 16px;" v-model="isBold">
        色反転する？
        <input type="checkbox" style="margin-right: 16px;" v-model="needTextReverse">
        縦書き？
        <input type="checkbox" v-model="isTate">
      </div>
    </template>
    <template v-else-if="mode === 'image'">
      <input type="file" ref="inputFile" @change="onChangeInputFile">
      <div>
        黒：少 - 多
        <input type="range"
               id="base-average-color-range"
               :min="baseAverageColorMin"
               :max="baseAverageColorMax"
               v-model="baseAverageColor">
        <input type="number"
               id="base-average-color-number"
               :min="baseAverageColorMin"
               :max="baseAverageColorMax"
               v-model="baseAverageColor"
               @blur="onBlurBaseAverageColorNumber">
      </div>
      輪郭必要？
      <input type="checkbox" style="margin-right: 16px;" v-model="needOutline">
      色反転する？
      <input type="checkbox" v-model="needImageReverse">
      <div>
        輪郭：強 - 弱
        <input type="range"
              id="base-color-distance-range"
              :min="baseColorDistanceMin"
              :max="baseColorDistanceMax"
              v-model="baseColorDistance">
        <input type="number"
              id="base-color-distance-number"
              :min="baseColorDistanceMin"
              :max="baseColorDistanceMax"
              v-model="baseColorDistance"
              @blur="onBlurBaseColorDistanceNumber">
      </div>
      <div>
        幅
        <input type="number" :min="imageWidthMin" :max="imageWidthMax"
              v-model="imageWidth"
              @blur="onBlurImageWidth">
        倍率
        <input type="number" :min="imageSizeRateMin" :max="imageSizeRateMax"
              step="0.1"
              v-model="imageSizeRate"
              @blur="onBlurImageSizeRate">
        幅は200～300程度をお勧めします
      </div>
    </template>
    <div>
      <button id="monochrome-btn" @click="onClickMonochromeButton">実行</button>
      <button id="copy-btn" @click="onClickCopyButton">コピー</button>
    </div>
    <div :style="{whiteSpace: wasTate ? 'nowrap' : 'normal'}">
      <canvas ref="canvas" :class="{'tate-canvas': wasTate}"></canvas>
      <textarea id="result" ref="result" :class="wasTate ? 'tate-canvas' : 'yoko-canvas'"></textarea>
    </div>
  </div>

  <script src="monochrome_canvas.js"></script>
  <script src="tuki_art_generator.js"></script>
  <script src="main.js"></script>
</body>
</html>