<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>月文字ジェネレーター（JS完結版）</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <h1>月文字ジェネレーター（JS完結版）</h1>
    <input type="file" ref="inputFile" @change="onChangeInputFile">
    <div>
      黒：少 - 多
      <input type="range"
             id="base-average-color-range"
             :min="baseAverageColorMin"
             :max="baseAverageColorMax"
             v-model="baseAverageColor">
      <input type="number"
             id="base-average-color-number"
             :min="baseAverageColorMin"
             :max="baseAverageColorMax"
             v-model="baseAverageColor"
             @blur="onBlurBaseAverageColorNumber">
    </div>
    輪郭必要？
    <input type="checkbox" id="outline-chkbox" v-model="needOutline">
    <div>
      輪郭：強 - 弱
      <input type="range"
             id="base-color-distance-range"
             :min="baseColorDistanceMin"
             :max="baseColorDistanceMax"
             v-model="baseColorDistance">
      <input type="number"
             id="base-color-distance-number"
             :min="baseColorDistanceMin"
             :max="baseColorDistanceMax"
             v-model="baseColorDistance"
             @blur="onBlurBaseColorDistanceNumber">
    </div>
    <div>
      幅
      <input type="number" :min="imageWidthMin" :max="imageWidthMax"
             v-model="imageWidth"
             @blur="onBlurImageWidth">
      倍率
      <input type="number" :min="imageSizeRateMin" :max="imageSizeRateMax"
             step="0.1"
             v-model="imageSizeRate"
             @blur="onBlurImageSizeRate">
      幅は200～300程度をお勧めします
    </div>
    <button id="monochrome-btn" @click="onClickMonochromeButton">実行</button>
    <canvas ref="canvas"></canvas>
    <textarea id="result">{{ tukiArt }}</textarea>
  </div>

  <script src="monochrome_canvas.js"></script>
  <script src="tuki_art_generator.js"></script>
  <script src="main.js"></script>
</body>
</html>