
.github-corner.mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .github-corner {
    display: none;
  }

  .github-corner.mobile {
    display: inline;
  }

  .github-corner > svg {
    width: 50px;
    height: 50px;
  }
}
