
body {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  background-color: #f4f4f4;
}

body:not(h1) {
  font-size: 18px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

#app {
  padding: 0 32px;
}

#setting div:not(:first-of-type) {
  margin-top: 4px;
}

.btn {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid blue;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: blue;
  background-color: white;
  text-align: center;
}

.btn:not(:first-of-type) {
  margin-left: 8px;
}

.btn.selected {
  color: white;
  border-color: blue;
  background-color: blue;
}

input[type="file"] {
  display: block;
}

#generate-btn, #copy-btn {
  font-size: 1.2rem;
}

#copy-btn {
  margin-left: 8px;
}

#copied-messega {
  margin-left: 8px;
  font-weight: bold;
  opacity: 0;
}

.fadeout-enter-from, .fadeout-leave-from {
  opacity: 1 !important;
}

.fadeout-enter-active, .fadeout-leave-active {
  transition: all 1.5s;
}

.fadeout-enter-to, .fadeout-leave-to {
  opacity: 0 !important;
}

#calc-width {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  white-space: nowrap;
  font-size: 12px; /* #result.font-sizeと同じであること */
}

#result {
  width: 100px;
  height: 100px;
  font-size: 12px;
}

.yoko-canvas {
  display: block;
}

.tate-canvas {
  display: inline-block;
  vertical-align: top;
}

