
body {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  background-color: #f4f4f4;
  /* background-color: grey; */
}

body:not(h1) {
  font-size: 18px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

.font-default {
  font-family: 'ＭＳ Ｐゴシック', '游ゴシック', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Verdana, Roboto, 'Droid Sans', sans-serif;
}

.font-sans {
  font-family: 'Noto Sans JP', sans-serif;
}

.bold {
  font-weight: 700;
}

.font-serif {
  font-family: 'Noto Serif JP', serif;
}

#app {
  padding: 0 32px;
}

#setting {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.btn-list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 8px;
}

.radio-wrapper {
  display: inline-block;
  white-space: nowrap;
}

.radio {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border: 1px solid blue;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: blue;
  background-color: white;
  text-align: center;
}

.radio:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.radio:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid blue;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  color: blue;
  background-color: white;
  text-align: center;
}

.btn.selected, .radio.selected {
  color: white;
  border-color: blue;
  background-color: blue;
}

#btn-debug {
  margin-left: 16px;
}

input[type="file"] {
  display: none;
}

#generate-btn, #copy-btn {
  font-size: 1.2rem;
}

#copy-btn {
  margin-left: 8px;
}

#copied-messega {
  margin-left: 8px;
  font-weight: bold;
  opacity: 0;
}

.fadeout-enter-from, .fadeout-leave-from {
  opacity: 1 !important;
}

.fadeout-enter-active, .fadeout-leave-active {
  transition: all 1.5s;
}

.fadeout-enter-to, .fadeout-leave-to {
  opacity: 0 !important;
}

#calc-width {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  white-space: nowrap;
  font-size: 12px; /* #result.font-sizeと同じであること */
}

.not-exists-tuki-art {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

#result {
  width: 100px;
  height: 100px;
  font-size: 12px;
}

.yoko-canvas {
  display: block;
}

.tate-canvas {
  display: inline-block;
  vertical-align: top;
}

